@font-face {
    font-family: 'Open Sans';
    src: url("./Fonts/opensans-semibold-webfont.woff") format("woff"),
         url("./Fonts/opensans-semibold-webfont.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("./Fonts/opensans-regular-webfont.woff") format("woff"),
    url("./Fonts/opensans-regular-webfont.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("./Fonts/Roboto-Bold.woff") format("woff"),
         url("./Fonts/Roboto-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
